{% extends "base.html" %}
{%block content %}
<div class="main-content">
    <h1>How to Use</h1>
    <p>
        There are three imput feilds: 
        The primary input feild where you may diectly message the chatbot. Raven will respond to anything you say in ths field.
        The knowledgebse feild is where you can give raven some extra knowledge. For example, Raven does not know the sky is blue by default, 
        you have to give it that information. By putting "the sky is blue" inot the knowledge base, it will now know the sky is blue.
        The third fild si where you can give it some behavioiral instruction. You can tell it to be nice or mean or talk liek it in some specific perfession.
        All feilds clear after sending a message, but you do not have to reenter the information. the last piece of the knowlegebase and instruction are held onto until more informationis given.

    </p>
</div>
{% endblock %}