{% extends "base.html" %}
{%block content %}
<!-- python froms -->
{{ form.csrf_token }}
{{ form.hidden_tag() }}
<form action="#" method="post">
    <main class="d-flex flex-nowrap">
        <!-- side bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark bottom-0" style="width: 280px; height: 100vh;">
            <h1>Extra info</h1>
            <hr>
            <ul class="nav nav-pills flex-column gap-3 mb-auto">
                <li class="nav-item">
                    <div class="form-group">
                        {{ form.chat2.label(for="chat2", class="form-label") }}
                        {{ form.chat2(id="chat2", class="form-control", placeholder="put text here")}}
                    </div>
                </li>
                <li class="nav-item">
                    <div class="form-group">
                        {{ form.chat3.label(for="chat3", class="form-label") }}
                        {{ form.chat3(id="chat3", class="form-control", placeholder="put text here")}}
                    </div>
                </li>
            </ul>
        </div>
        <!-- main body -->
        <div class="container-fluid">
            <p>This where the chat will be</p>
            <div class="form-group">
                <div class="form-floating">
                    {{ form.chat1(id="chat1", class="form-control", placeholder="put text here")}}
                    {{ form.chat1.label(for="chat1", class="form-label") }}
                </div>
                {{ form.submit(class="btn btn-primary btn-lg") }}
            </div>
        </div>
    </main>
</form>


{% endblock %}