{% extends "base.html" %}
{%block content %}
<div class="container">
    <h1>Raven Chat Create Account</h1>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <form action="#" method="post"> <!-- the # means we are going to move to a completely diferent page after signing in-->
        <div class="d-grid gap-2 justify-content-md-start"> <!-- make a grid of all elements with a 2px space between each item-->    
            <div class="form-floating"> <!-- neat moving/floating efect of the feild header -->
                {{ form.userName(id="userName", class="form-control", placeholder="raven")}}
                {{ form.userName.label(for="userName", class="form-label") }}
            </div>
            <div class="form-floating"> <!-- neat moving/floating efect of the feild header -->
                {{ form.email(id="email", class="form-control", placeholder="example@email.com")}}
                {{ form.email.label(for="email", class="form-label") }}
            </div> 
            <div class="form-floating">
                {{ form.password(id="password", class="form-control", placeholder="password1234") }}
                {{ form.password.label(for="password", class="form-label") }}

            </div>
            <div class="form-floating">
                {{ form.passowrdConfirm(id="passowrdConfirm", class="form-control", placeholder="password1234") }}
                {{ form.passowrdConfirm.label(for="passowrdConfirm", class="form-label") }}
            </div>
            {{ form.submit(class="btn btn-primary btn-lg") }}  
        </div>
    </form>
</div>
{% endblock %}